@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'IranNastaliq', serif;
}

#header {
  background-image: url(../public/images/general/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about {
  background-image: url(../public//images/general/bg-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#courses {
  background-image: url(../public//images/general/course.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.course {
  background-image: url(../public//images/general/bg-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: 'IranNastaliq';
  src: url('/fonts/IranNastaliq.woff2') format('woff2'),
    url('/fonts/IranNastaliq.woff') format('woff'),
    url('/fonts/IranNastaliq.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}